:root {
  --dark-color: #0F172A;
  --light-color: #F8FAFC;
  --medium-background-color: #F1F5F9;
  --dark-accent-color: #064E3B;
  --light-accent-color: #059669;
}

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


